/* Google font Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
/* intro header */
#intro {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 10px;
}

/* food header images */
#food-image-hd{
    background-color: #421242;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
}

#food-image-hd div{
    margin: 1.5rem;
}

/* food images */
.img {
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #fff;
    box-shadow: 20px 15px 10px #771d77;
    width: 145px;
    height: 146px;
}

.img:last-child{
    margin-right: 10%;
}

/* images background */
.mex {
    background-image: url(./images/Mexican_food.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.italian {
    background-image: url(./images/italian.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.asian {
    background-image: url(./images/chinese.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.indian {
    background-image: url(./images/Indian.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.comfort {
    background-image: url(./images/burger.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

#search {
    color: #4d4b4b;
    width: 145px;
    height: 146px;
    border-radius: 100%;
    font-size: 1.2rem;
    outline: none;
    border: 10px solid  #5f1847;
    background-color: #b1abab;
    /* box-shadow: 5px 5px 5px lightgrey;  */
}

/* Restaurants near by container buttons */
.btn-cont {
    text-align: right;
    padding: 5px 20px;
    width: 100%;
}

/* Restaurant near by buttons */
.btn {
    background-color: #fff;
    border: none;
    outline: none;
    display: inline;
    display: none;
    margin-right: 7%;
}

/* Main container where recipe is to be displayed */
#main-container {
    background: url(./images/pots-vegetables-harvest.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 70vh;
}

/* Map container */
.map-container {
    border: 2px solid #c79cc5;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    margin: 50px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    box-shadow: 20px 15px 10px #443b44;
}

/* Map header */
#map-header {
    background-color: #330d32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
/* Map Title */
.map-title {
    font-size: 1rem;
}

/* Map content */
#map {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* Close map */
#close-map {
    font-size: 50px;
    cursor: pointer;
    color: #fff;
}

/* Hover state on close button */
#close-map:hover {
    color: #b8b2b2;
    transform: scale(1.1);
}

/* opacity */

.body-opacity {
    background-color: #808080;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    display: none;
    height: 102vh;
}

footer {
    background-color: #dfdede;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5%;
}

